/* components/mergePay/mergePay.wxss */

/* 优惠弹框 */

.popupHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 168rpx;
  padding: 0rpx 32rpx;
  border-bottom: 20rpx solid #fafafa;
}

.popupHeader-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rpx;
}

.popupHeader-top-title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FE5D4D;
}

.popupHeader-bottom {
  display: flex;
  justify-content: flex-start;
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

/* 订单一起付款 */

.goodsScroll {
  overflow-y: scroll;
  height: 600rpx;
}

.goodsList {
  padding: 0rpx 32rpx;
  border-bottom: 20rpx solid #fafafa;
}

.refundGoods-header {
  height: 100rpx;
  font-size: 28rpx;
  font-family: SFUIDisplay-Medium, SFUIDisplay;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  line-height: 100rpx;
  border-bottom: 1rpx solid #e5e5e5;
}

.refundGoods-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40rpx 0rpx;
}

.refundGoods-item-l {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.refundGoods-item-img {
  width: 148rpx;
  height: 148rpx;
}

.refundGoods-item-info {
  flex: 1;
  margin-left: 20rpx;
}

.refundGoods-item-title {
  font-size: 28rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 18rpx;
}

.refundGoods-item-desc {
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(64, 64, 64, 1);
}

/* 底部 */

.footerView {
  height: 120rpx;
  line-height: 120rpx;
  border-top: 1rpx solid #e5e5e5;
}

.footerTitle {
  font-size: 14px;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

.footerPrice {
  font-size: 14px;
  font-family: DIN-Medium;
  font-weight: 600;
  color: rgba(255, 76, 76, 1);
}

.fotterButton {
  width: 100px;
  height: 40px;
  background: #FE5D4D;
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 44px;
}

/* <!-- 提交订单 --> */

.bottom-tool {
  position: fixed;
  height: 128rpx;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0rpx 20rpx 60rpx 0rpx rgba(0, 0, 0, 0.15);
  width: 100%;
  bottom: 0rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom-tool-btn {
  margin-right: 19rpx;
  width: 200rpx;
  height: 80rpx;
  border-radius: 8rpx;
  font-size: 28rpx;
  font-family: SFUIDisplay-Medium, SFUIDisplay;
  font-weight: 500;
  line-height: 80rpx;
  text-align: center;
}

.downBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.van-count-down {
  font-size: 28rpx !important;
  color: var(--count-down-text-color, #fff) !important;
}
