/* components/cancelOrder/cancelOrder.wxss */

.cancelOrder-header {
  display: flex;
  flex-direction: column;
  padding: 40rpx 0rpx;
  margin: 0rpx 32rpx;
  border-bottom: 1rpx solid #e5e5e5;
}

.cancelOrder-header-title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FE5D4D;
}

.cancelOrder-header-desc {
  margin-top: 10rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.cancelView {
  padding: 40rpx 0rpx;
  margin: 0rpx 32rpx;
}

.cancelInfo {
  height: 45rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  line-height: 45rpx;
}

.cancelItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28rpx 0rpx;
  border-bottom: 1rpx solid #e5e5e5;
}

.cancelItem-title {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(74, 74, 74, 1);
}

.van-radio__icon--checked {
  background-color: var(--radio-checked-icon-color, #FE5D4D) !important;
  border-color: var(--radio-checked-icon-color, #FE5D4D) !important;
}

.cancelBottomView {
  height: 140rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rpx 20rpx 60rpx 0rpx rgba(0, 0, 0, 0.15);
}

.cancelBottomView-r {
  border-radius: 12rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cancelBottomView-btn {
  width: 325rpx;
  height: 80rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  line-height: 80rpx;
  text-align: center;
}

/* 删除订单弹框 */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rpx solid #EDEDED;
}

.headerPadding {
  padding: 28rpx 39rpx;
}

.header-title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(46, 46, 46, 1);
}

.content {
  margin: 48rpx 39rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(127, 127, 127, 1);
}

.bottomView {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomView-title {
  font-size: 32rpx;
  font-family: SFUIDisplay-Light, SFUIDisplay;
  font-weight: 300;
  margin: 0px 10rpx;
}

.canle {
  line-height: 84rpx;
  width: 227rpx;
  height: 84rpx;
  border-radius: 8rpx;
  border: 1rpx solid rgba(127, 127, 127, 1);
  background: rgba(255, 255, 255, 1);
  text-align: center;
}

.ok {
  line-height: 84rpx;
  text-align: center;
  width: 227rpx;
  height: 84rpx;
  background: rgba(219, 182, 120, 1);
  border-radius: 8rpx;
}