@charset "UTF-8";
/*!*********************
 *@name style
 *@author Jo.gel
 *@date 2019/3/19 0019
 ***********************/
/*width*/
.w40{
  width: 40px !important;
}

.w60{
  width: 60px !important;
}

.w80{
  width: 80px !important;
}

.w90{
  width: 90px !important;
}

.w96{
  width: 96px !important;
}
.w100 {
  width: 100px !important;
}
.w110 {
  width: 110px !important;
}

.w120 {
  width: 120px !important;
}

.w150 {
  width: 150px !important;
}

.w200 {
  width: 200px !important;
}

.w220 {
  width: 220px !important;
}

.w240 {
  width: 240px !important;
}
.w250 {
  width: 250px !important;
}

.w260 {
  width: 260px !important;
}

.w280 {
  width: 280px !important;
}

.w300 {
  width: 300px !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


/*margin*/
.mt-10 {
  margin-top: 10px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

/*padding*/
.pr-10 {
  padding-right: 10px;
}

.tree-wrap {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 320px;
  overflow-y: auto !important;
  overflow-x: hidden;
}

.member-table-span {
  font-size: 12px;
  color: #9AA8B8;
}

.member-table-strong {
  color: #3E4552;
  font-size: 14px;
  font-weight: 400;
}

.member-table-span + .member-table-span {
  margin-left: 10px;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.mini-block-narrow {
  margin-top: 8px;
}

.middle-block-narrow {
  margin-top: 20px;
}

.big-block-narrow {
  margin-top: 24px;
}

.huge-block-narrow {
  margin-top: 40px;
}

.action-text {
  cursor: pointer;
  color: #756CEA!important;
}

.color-text {
  color: #756CEA!important;
}

.button-gap {
  margin-right: 8px;
}

.view-footer {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top: 1px solid #e8eaec;
  padding: 16px 16px 0;
  margin-left: -16px;
  margin-right: -16px;

  .text-narrow {
    margin-right: 16px;
  }
}
