@charset "UTF-8";
/*!*********************
 *@name login+hall全局性
 *@author Jo.gel
 *@date 2020/3/3 0003
 ***********************/

.tenant-content .form-body .pr-80 .ivu-input {
  padding-right: 70px;
}

.form-body {
  .ivu-input {
    border: none;
    border-bottom: 1px solid #E2E2EA;
    border-radius: 0;

    &:focus {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #E2E2EA;
    }
  }

  .password-input, .valid-input {
    .ivu-input {
      padding-left: 36px;
    }
  }

  .ivu-form-item-content {
    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.pointer {
  cursor: pointer !important;
}

/*fix dropdown*/
.form-body {
  .ivu-dropdown {
    float: right;
  }

  .phone-prefix {
    margin-right: 30px;
  }
}

/*error 样式*/
.ivu-form-item-error {
  .ivu-input {
    border: none !important;
    border-bottom: 1px solid #ed4014 !important;
    border-radius: 0;

    &:hover {
      border-color: #fff;
      border-bottom: 1px solid #ed4014 !important;
    }

    &:focus {
      border: none;
      box-shadow: none !important;
      border-bottom: 1px solid #ed4014 !important;
    }
  }
}

.left-phoneArea {
  float: left;
  position: relative;
  top: -1px;
  width: 120px;
  border-bottom: 1px solid #E2E2EA;
}

.is-active {
  color: #756CEA;
}

/*顶部返回按钮*/
.h2 span {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
}


.h2 img {
  cursor: pointer;
  display: block;
  float: left;
  width: 20px !important;
  height: 20px !important;
  margin-top: 8px;
  margin-right: 5px;
}

.hall-layout .ivu-menu-light:after {
  background: white;
}
// .ivu-icon-ios-arrow-down:before
