@charset "UTF-8";

/* !*********************
 *@name login+hall全局性
 *@author Jo.gel
 *@date 2020/3/3 0003
 ***********************/

.tenant-content .form-body .pr-80 .ivu-input {
  padding-right: 70px;
}

.form-body {
  .ivu-input {
    border: none;
    border-bottom: 1px solid #e2e2ea;
    border-radius: 0;

    &:focus {
      border: none;
      border-bottom: 1px solid #e2e2ea;
      box-shadow: none;
    }
  }

  .password-input,
  .valid-input {
    .ivu-input {
      padding-left: 36px;
    }
  }

  .ivu-form-item-content {
    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}

.pointer {
  cursor: pointer !important;
}

/* fix dropdown */
.form-body {
  .ivu-dropdown {
    float: right;
  }

  .phone-prefix {
    margin-right: 30px;
  }
}

/* error 样式 */
.ivu-form-item-error {
  .ivu-input {
    border: none !important;
    border-bottom: 1px solid #ed4014 !important;
    border-radius: 0;

    &:hover {
      border-bottom: 1px solid #ed4014 !important;
      border-color: #fff;
    }

    &:focus {
      border: none;
      border-bottom: 1px solid #ed4014 !important;
      box-shadow: none !important;
    }
  }
}

.left-phoneArea {
  position: relative;
  top: -1px;
  float: left;
  width: 120px;
  border-bottom: 1px solid #e2e2ea;
}

.is-active {
  color: #756cea;
}

/* 顶部返回按钮 */
.h2 span {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.h2 img {
  display: block;
  float: left;
  width: 20px !important;
  height: 20px !important;
  margin-top: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.hall-layout .ivu-menu-light::after {
  background: white;
}
// .ivu-icon-ios-arrow-down:before
