/* miniprogram/pages/my/my-order/Chargeback/chargeback.wxss */

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rpx 33rpx;
  height: 146rpx;
  background-color: white;
  margin-top: 10rpx;
}

.item-l {
  display: flex;
  align-items: center;
}

.item-l-img {
  width: 40rpx;
  height: 40rpx;
}

.item-l-info {
  margin-left: 20rpx;
}

.item-l-info-t {
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  line-height: 36rpx;
}

.item-l-info-d {
  font-size: 22rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(141, 141, 141, 1);
  line-height: 30rpx;
}
