/* miniprogram/pages/my/Logistics/openLogistics.wxss */


.view {
  background-color: white;
}

.alertView {
  margin: 0rpx 32rpx;
  height: 100rpx;
  line-height: 100rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(184, 184, 184, 1);
  border-bottom: 1rpx solid #e5e5e5;
}

/* 订单 */

.logisticsItem {
  display: flex;
  flex-direction: column;
  padding: 0rpx 32rpx;
  border-bottom: 20rpx solid #FAFAFA;
}

.logisticsItem-header {
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rpx solid #e5e5e5;
}

.logisticsItem-header-title {
  font-size: 28rpx;
  font-family: SFUIDisplay-Medium, SFUIDisplay;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.logisticsItem-header-desc {
  font-size: 28rpx;
  font-family: SFUIDisplay-Light, SFUIDisplay;
  font-weight: 300;
  color: rgba(209, 167, 121, 1);
}

/* 运输信息 */

.logisticsItem-Info {
  margin: 32rpx 0rpx;
  background: rgba(244, 244, 255, 1);
  border-radius: 8rpx;
  padding:24rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(104, 114, 136, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 商品 */

.logisticsItem-imgsbg {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  overflow: hidden;
  height: 214rpx;
}

.logisticsItem-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 20rpx 20rpx 0rpx;
}

.logisticsItem-img {
  width: 148rpx;
  height: 148rpx;
  margin: 0rpx 0rpx 10rpx 0rpx;
}

.logisticsItem-item-text {
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  margin-top: 10rpx;
}

/* 展示更多 */

.logisticsItem-num {
  width: 100%;
  text-align: center;
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(64, 64, 64, 1);
}

.mentionAdress-bottom {
  height: 70rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1rpx solid #e5e5e5;
}

.mentionAdress-bottom-title {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(219, 182, 120, 1);
}
/* 物流 */
.logistics-info{
  display: flex;
  align-items: center;
  height: 55rpx;
}
.orderTitle {
  font-size: 14px;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

.orderDesc {
  margin: 6rpx 0rpx;
  font-size: 14px;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
