.payment-result {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
@mixin title {
  font: 500 20px/28px "PingFangSC-Medium, PingFang SC";
  color: #4f4f4f;
  text-align: center;
}
/* 成功 begin */
.success {
  background: url(https://eos-wuxi-1.cmecloud.cn/crmoss/c286662b-9dc7-4434-9d9b-09bab9edae71.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    margin-top: 200px;
  }
  
  &-title {
    @include title();
    margin-bottom: 100px;
  }
  &-back {
    width: 335px;
    background: #fe5d4d;
    border-radius: 4px;
    font: 500 14px/46px "SFUIDisplay-Medium, SFUIDisplay";
    color: #ffffff;
    text-align: center;
  }
}
/* 成功 begin */

/* 失败 begin */
.fail {
  background: url(https://eos-wuxi-1.cmecloud.cn/crmoss/ac1c9164-e5f2-4d9a-8547-80331b606ef3.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    margin-top: 200px;
  }
  &-title {
    @include title();
    margin-bottom: 10px;
  }
  &-info {
    width: 293px;
    height: 78px;
    font: 14px/26px "PingFangSC-Regular, PingFang SC";
    color: #878787;
    line-height: 26px;
    margin-bottom: 58px;
  }
}
/* 失败 end */
