// 文本超出显示省略号
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin multi-line-omit($line: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}


// 字母数字强制换行
@mixin eng-num-wrap {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}

// 文本样式 不包含字体
@mixin text-style($size: 14, $weight: 400, $color: #303133,$align: left) {
  font-size: $size;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: $weight;
  color: $color;
  text-align: $align;
}
