/* flex 常用布局 */
.flex-row {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-center-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* 超过1行 显示省略号 */
.oneLine {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.mini-block-narrow {
	margin-top: 0.63rem;
}

.middle-block-narrow {
	margin-top: 1.25rem;
}

.big-block-narrow {
	margin-top: 1.5rem;
}

.item-gap {
	margin-right: 0.63rem;
}

.vertical-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
