// scss 变量

$color-background: #f8f9fb;
$color-theme: #475ffd;
$color-theme-d: #9296a5;
$color-sub-theme: #d93f30;
$color-error-theme: #f74f45;
$color-text: #fff;
$color-text-d: #929497;
$color-text-l: #9296a5;
$color-text-ll: rgba(255, 255, 255, 0.8);
$color-text-error: #ff4343;
$color-title-d: #141f35;
$color-title-l: #444444;
$color-border-d: #e9eaee;
$color-border-l: #efefef;

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
$font-size-large-xl: 22px;
$font-size-large-xxl: 24px;
