/**
 * 此文件中函数，可在 .wxml 中直接使用
 * 例子：
 * <wxs module="func" src="../../utils/utilFunc.wxs"></wxs>
 * <view>
 *  {{ func.handlePrice(money, point) }}
 * </view>
 */

/**
 * 处理价格的函数
 * @param money 
 * @param point 
 */
function handlePrice(money, point, scoreName) {
	if (money && point) {
		return '￥' + money + '+' + point + scoreName;
	} else if (money && !point) {
		return '￥' + money;
	} else if (!money && point) {
		return point + scoreName;
	} else {
		return money;
	}
}

/**
 * @description 千分位
 */
function numberFormat(num) {
	var value = num + '';
	return value.replace(getRegExp("\d{1,3}(?=(\d{3})+$)", "g"), "$&,");
};

module.exports = {
	handlePrice: handlePrice,
	numberFormat: numberFormat
};
