/* components/textFold/textFold.wxss */
@import "/style/style.css";
.contentBg {
  position: relative;
}

.content {
  position: relative;
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(135, 143, 140, 1);
  line-height: 38rpx;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.oneLineStyle {
  position: absolute;
  top: 0;
  text-indent: -3em;
  padding-right: 3em;
}

.moreLineStyle {
  line-height: 38rpx;
  overflow: hidden;
}

.wdpj-zk {
  position: absolute;
  right: -3em;
  bottom: 4rpx;
  width: 48rpx;
  height: 33rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(254, 199, 33, 1);
}

.wdpj-sq {
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(254, 199, 33, 0);
}