.wrapper {
  flex-shrink: initial !important;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.text {
  width: 100%;
  flex-shrink: initial !important;
  font-size: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 45rpx;
  position: relative;
  color: #666a6a;

  &-content {
    word-break: break-all;
  }
}

.text::before {
  content: '';
  height: calc(100% - 45rpx);
  width: 0;
  float: right;
}

.btn {
  flex-shrink: initial !important;
  position: relative;
  float: right;
  clear: both;
  font-size: 28rpx;
  color: #42cddd;
  line-height: 40rpx;
  cursor: pointer;
  border: 0;
  margin-left: 20rpx;
}
