a,
button {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.logo {
  height: 64px;
  background-color: #00284d;
}

.lay-grid {
  min-height: 120px;
  padding: 20px;
  background-color: #fff;
}

.ivu-breadcrumb > span:last-child {
  font-weight: normal;
}

.lay-box-title {
  font-size: 20px;
}

.ivu-table-header thead tr th {
  font-weight: normal;
}

.action-link .ivu-btn-text {
  color: #756cea;
}

.card-filter {
  height: 32px;
  margin-bottom: 15px;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.wrap .ivu-card {
  margin-bottom: 20px;
}

.serv-card-grid h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.serv-card-grid p {
  margin-bottom: 10px;
  color: #666;
}

.normal-card .ivu-card-body {
  padding: 0;
}

.normal-card .ivu-tabs-bar {
  padding: 0 20px;
  margin-bottom: 0;
}

.tab-body {
  padding: 16px;
}

.v-card {
  padding: 15px;
  border-color: rgb(217, 217, 217);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.info-row {
  display: flex;
  padding: 10px 20px;
}

.info-label {
  width: 100px;
}

.v-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.v-item {
  margin-bottom: 10px;
  font-size: 13px;
  color: #999;
}

.v-text {
  margin-bottom: 10px;
}

.v-item:last-child {
  margin-bottom: 0;
}

.v-item span {
  display: inline-block;
  margin-right: 15px;
}

.eq-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 5px;
}

.page-cell {
  padding: 20px 0 10px 0;
  overflow: hidden;
  text-align: right;
}

.page-cell .ivu-page-total {
  display: inline-block;
  float: left;
}

.order-up {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.grey_up_icon {
  background-image: url(up_grey.png) !important;
}

.grey_down_icon {
  background-image: url(down_grey.png) !important;
}

.order-down {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(down.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
}

.site-grid {
  overflow: hidden;
}

.site-grid .site-avatar {
  float: left;
  margin-right: 15px;
}

.site-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.site-grid .col {
  overflow: hidden;
}

.site-grid .uc-intro {
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.uc-meta {
  font-size: 14px;
  color: #999;
}

.card-ft {
  padding-top: 10px;
  color: #999;
  border-top: 1px solid #eee;
}

.card-bd {
  position: relative;
  margin-bottom: 10px;
}

.card-bd .icon-rt {
  position: absolute;
  top: 0;
  right: 0;
}

.card-bd .icon-rt .ivu-icon {
  font-size: 20px;
}

.card-box {
  height: 150px;
  margin: 20px 0;
  border: 1px solid #ded9d9;
  border-radius: 10px;
}

.card-box .title {
  display: block;
  width: 100%;
  height: 40%;
  padding: 0 20px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.card-box .title li,
.card-box .con li {
  list-style: none;
}

.card-box .con {
  display: block;
  height: 60%;
  padding: 0 20px;
  font-size: 16px;
}

.data-box .txt {
  margin-bottom: 10px;
  color: #999;
}

.data-box .val {
  margin-bottom: 10px;
  font-size: 32px;
}

.data-updown {
  display: flex;
  margin: 0 -10px;
  color: #999;
}

.data-updown .item {
  padding: 0 10px;
}

.data-updown .ivu-icon-md-arrow-dropup {
  color: #8fd96b;
}

.data-updown .ivu-icon-md-arrow-dropdown {
  color: #f00;
}

.site-Row .ivu-card {
  height: 184px;
}

.site-Row .ivu-card-head {
  padding: 18px 16px;
}

.quk-list {
  margin: 0 -10px;
  overflow: hidden;
}

.quk-list li {
  float: left;
  min-width: 80px;
  padding: 5px 10px;
  margin: 5px 5px;
  text-align: center;
  list-style: none;
  border: 1px solid #eee;
}

.bar-left {
  float: left;
  height: 50px;
}

.ivu-tabs-ink-bar {
  bottom: unset;
  height: 3px;
}

.bar-right {
  float: right;
  height: 50px;
  padding: 8px 15px;
  box-sizing: border-box;
}

.index-card-bar {
  height: 50px;
  border-bottom: 1px solid #eee;
}

.index-card-bar .ivu-date-picker {
  float: right;
}

.payUser-title {
  padding-left: 19px;
  margin-left: -15px;
  font-size: 16px;
  font-weight: bold;
  border-left: 5px solid #f28508;
}

.index-card-bar-radio .date-radio .ivu-radio-wrapper-checked span {
  color: #fff;
  background: #f28508;
  border: 0;
}

.index-card-bar-radio .date-radio span {
  padding: 5px 10px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 13px;
  color: #999;
  border: 1px solid #d6d4d4;
  border-radius: 5px;
}

.date-radio .ivu-radio {
  display: none;
}

.date-radio .ivu-radio-wrapper-checked {
  color: #756cea;
}

.ivu-tabs-nav .ivu-tabs-tab {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 30px;
}

.index-card .ivu-card-body {
  padding: 10px 15px;
}

.bar-left .ivu-tabs-bar {
  border-bottom: 0;
}

.index-card-bd {
  padding: 20px;
}

.bar-flex {
  display: flex;
  height: 50px;
  padding: 8px 15px;
  box-sizing: border-box;
  align-items: center;
}

.bar-flex .bar-left-tit {
  margin-right: 20px;
  font-size: 16px;
}

#myChart2 {
  width: 100%;
}

#myChart {
  width: 100%;
}

.layout-header-bar .menu-icon {
  float: left;
  margin: 20px !important;
}

.card-form {
  max-width: 560px;
}

.card-form .ver-ht {
  height: auto;
  margin-bottom: 15px;
}

.card-form .ver-flex {
  display: inline-block;
  margin-left: 10px;
}

.ver-flex .flex-t {
  display: inline-block;
  margin-right: 10px;
}

.card-form .tips {
  font-size: 12px;
  color: #999;
}

.card-form .v-card {
  position: relative;
  width: 360px;
  line-height: 1;
}

.card-form-hd {
  margin-bottom: 20px;
  font-size: 16px;
}

.card-form-btns {
  text-align: center;
}

.card-form-btns .ivu-btn {
  margin: 0 10px;
}

.form-card-vbody {
  display: flex;
}

.v-card .ex-link {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #1890ff;
  cursor: pointer;
  background-color: #fff;
}

.gray {
  color: #999 !important;
}

.myModal .ivu-modal-footer {
  border-top: 0;
}

.upload-cell {
  display: flex;
  align-items: flex-end;
}

.upload-cell .upload-photo {
  width: 72px;
  height: 72px;
  margin-right: 10px;
  border: 1px solid #eee;
}

.upload-cell .upload-photo img {
  width: 72px;
  height: 72px;
}

.upload-tip {
  font-size: 12px;
  color: #999;
}

.ivu-input-number .ivu-input-number-handler-wrap {
  opacity: 1;
}

.lg-space-form {
  padding: 30px 50px;
}

.v-icon {
  cursor: pointer;
}

.col-tip {
  font-size: 12px;
  color: #999;
}

.col-txt {
  font-size: 18px;
}

.btn-back {
  color: #1890ff;
}

.v-card-table {
  padding: 25px;
  border: 1px solid #d2d2d2;
}

.v-card-table th {
  padding: 0 100px 20px 0;
  text-align: left;
}

.v-card-table td {
  font-weight: 500;
  vertical-align: baseline;
}

.ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  border-top: 3px solid;
}

.base-table-list {
  padding: 24px;
  background: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
}
