.status-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  border-radius: 50%;
}

.disable {
  background: rgba(154, 168, 184, 1);
}

.available {
  background: rgba(109, 210, 48, 1);
}

.selected-item {
  color: #756cea;
}

.icon-space {
  margin-left: 6px;
}

.color-text {
  color: #756cea;
  cursor: pointer;
}

.action-icon {
  visibility: hidden;
}
