/* components/cart/index.wxss */

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40rpx 43rpx 0rpx 43rpx;
}

.cart-item-Disable {
  background-color: #FAFAFA;
}

.cart-item .left {
  width: 100rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.goods-status {
  padding: 0rpx 10rpx;
  height: 60rpx;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  line-height: 24rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cart-item .right {
  padding: 36rpx 0;
  border-bottom: 1rpx solid #e5e5e5;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.cart-item .no-border {
  border-bottom: 0;
}

.cart-item-right-img {
  width: 184rpx;
  height: 184rpx;
  background: #f9f3f0;
}

.cart-item .right .goods-info {
  display: flex;
  flex-direction: column;
  padding: 4rpx 0;
  justify-content: space-between;
  margin-left: 24rpx;
}

.cart-item .right .goods-info .goods-name {
  width: 422rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Light;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  line-height: 44rpx;
}

.cart-item .right .goods-info .filed-value {
  font-size: 24rpx;
  font-family: SFUIDisplay-Light;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  line-height: 40rpx;
  margin-top: 4rpx;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-left {
  font-size: 28rpx;
  font-family: DIN-Medium;
  font-weight: 700;
  color: rgba(255, 76, 76, 1);
  line-height: 44rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.credit-text {
  font-size: 28rpx;
  font-family: DIN-Medium;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  line-height: 44rpx;
}

/* 调整 */

.filed-value-bg {
  display: flex;
  justify-content: space-between;
  margin: 18rpx 0rpx;
}

.van-checkbox__icon--round {
  background-color: #f3c392 !important;
  border-color: var(--checkbox-checked-icon-color, #f3c392) !important;
}

.van-checkbox__icon--checked {
  background-color: #f3c392 !important;
  border-color: var(--checkbox-checked-icon-color, #f3c392) !important;
}