/* miniprogram/pages/my/my-order/orderRefund/orderRefund.wxss */

.view {
  background-color: #fafafa;
  margin-bottom: 180rpx;
}

.refundInfo {
  margin-bottom: 20rpx;
}

.alertView {
  padding: 54rpx 40rpx;
  background-color: #fe5d4d;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #530a0a;
  margin-bottom: 20rpx;
  opacity: 0.9;
}

.info-view {
  padding: 28rpx 40rpx;
  background-color: rgba(255, 255, 255, 1);
}

.mb30 {
  margin-bottom: 30rpx !important;
}
.infoRow {
  margin: 10rpx 0rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.title {
  min-width: 70px;
  font-size: 28rpx;
  color: #ababab;
}

.infoValue {
  font-size: 28rpx;
  color: #797979;
}

.info-value-left {
  font-size: 28rpx;
  color: #797979;
  text-align: left;
  flex: 1;
}

.imgsbg {
  display: flex;
  align-items: center;
}

.logisticsItem-img {
  width: 73rpx;
  height: 73rpx;
  margin-right: 10rpx;
}

/* 退款商品 */

.refundGoods {
  background-color: white;
  padding: 28rpx 40rpx;
}

.refundGoods-header {
  padding: 28rpx 0rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2rpx solid #e5e5e5;
}

.refundGoods-header-title {
  font-size: 28rpx;
  font-family: SFUIDisplay-Medium, SFUIDisplay;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.refundGoods-header-status {
  font-size: 26rpx;
  font-weight: 500;
  color: rgba(255, 87, 91, 1);
  font-family: PingFangSC-Medium, PingFang SC;
  color: #f6605e;
  line-height: 36rpx;
}

.refundGoodsDesc {
  margin: 32rpx 0rpx;
  display: flex;
}
.refundGoodsDesc > image {
  width: 148rpx;
  height: 148rpx;
  background-color: #f3f3f3;
}
.refundGoodsDesc-right {
  margin-left: 20rpx;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.refundGoodsDesc-right-title {
  font-size: 26rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #475774;
  line-height: 32rpx;
  margin-bottom: 10rpx;
}

.refundGoodsDesc-right-total-num {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 20rpx;
  color: #475774;
  line-height: 28rpx;
}

.refundGoodsDesc-right-money {
  font-size: 36rpx;
  font-weight: bold;
  color: #1e273f;
  line-height: 42rpx;
}

.refundGoodsDesc-right-price {
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(64, 64, 64, 1);
}

.refundGoodsDesc-right-spec {
  font-size: 22rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #808794;
  line-height: 30rpx;
}

.refundGoodsDesc-right-num {
  font-size: 24rpx;
  font-family: DINAlternate-Bold, DINAlternate;
  font-weight: bold;
  color: #475774;
  line-height: 28rpx;
}

/* 协商历史、取消退货 */

.negotiation-history {
  height: 100rpx;
  padding: 0rpx 40rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 20rpx;
}

.negotiation-history > image {
  width: 24rpx;
  height: 30rpx;
  opacity: 0.4;
}

.negotiation-history-title {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 500;
  color: #475774;
}

.returnsTool {
  padding-top: 32rpx;
  border-top: 2rpx solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.returnsTool-btn {
  padding: 9rpx 22rpx;
  line-height: 32rpx;
  text-align: center;
  border-radius: 12rpx;
  border: 2rpx solid rgba(219, 182, 120, 1);
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  color: rgba(219, 182, 120, 1);
}

/* 底部按钮 */

.refundInfo-bottom {
  width: 100vw;
  height: 168rpx;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0rpx 20rpx 60rpx 0rpx rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.refundInfo-bottom-btn {
  width: 200rpx;
  height: 80rpx;
  margin-right: 20rpx;
  line-height: 80rpx;
  text-align: center;
  border-radius: 8rpx;
  font-size: 28rpx;
  font-family: SFUIDisplay-Light, SFUIDisplay;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
}

/* 弹框 */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rpx solid #ededed;
}

.headerPadding {
  padding: 28rpx 39rpx;
}

.header-title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(46, 46, 46, 1);
}

.content {
  margin: 48rpx 39rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(127, 127, 127, 1);
}

.bottomView {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomView-title {
  font-size: 32rpx;
  font-family: SFUIDisplay-Light, SFUIDisplay;
  font-weight: 300;
  margin: 0px 10rpx;
}

.canle {
  line-height: 84rpx;
  width: 227rpx;
  height: 84rpx;
  border-radius: 8rpx;
  border: 1rpx solid rgba(127, 127, 127, 1);
  background: rgba(255, 255, 255, 1);
  text-align: center;
}

.ok {
  line-height: 84rpx;
  text-align: center;
  width: 227rpx;
  height: 84rpx;
  background: rgba(219, 182, 120, 1);
  border-radius: 8rpx;
}

/* 提示信息 */
.contentView {
  padding: 40rpx;
}

.contentView-text0 {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(49, 49, 49, 1);
}

.contentView-text1 {
  margin-top: 40rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Light, PingFang SC;
  font-weight: 300;
  color: rgba(127, 127, 127, 1);
  line-height: 44rpx;
}

.refundInfo-bottom-btn-gray {
  width: 200rpx;
  height: 80rpx;
  margin-right: 20rpx;
  line-height: 80rpx;
  text-align: center;
  border-radius: 8rpx;
  font-size: 28rpx;
  font-family: SFUIDisplay-Light, SFUIDisplay;
  font-weight: 300;
  background: #f2f2f2;
  color: #cecece;
}
