.license-plate-management {
  background: #f6f6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    padding: 0 15px;
    .license-plate {
      &-number {
        height: 41px;
        font: 12px/41px "PingFangSC-Regular, PingFang SC";
        color: #777777;
        text {
          font-weight: 500;
          color: #000000;
          padding: 0 4px;
        }
      }
      &-list {
        @include parking-block();
        margin-bottom: 10px;
      }
    }
  }
  .btn {
    background: #fe5d4d;
    border-radius: 4px;
    font: 500 14px/46px "SFUIDisplay-Medium, SFUIDisplay";
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
  }
}
